.alert-info {
    text-align: center;
    border: #CCCCCC solid 1px;
    padding: 1em;
    width: 90%;
    background-color: #CCFEFF;


}


h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: .67em;
    margin-block-end: .67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-width: bold;
}

.nav-links {
    text-align: center;
    /*background-color: #CCCCCC;*/
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    list-style-type: none;
    padding: 5px;
    flex-direction: column; justify-content: space-around;
}
li {
    margin: 10px;
    height: 1em;
    background-color: #CCCCCC;
    padding: .5em;
    align-content: space-evenly;

}

.header-img {
/* screen sizes 500px and up */
@media screen and (min-width:500px) {
    selector {
        property: value;
    }
}
}
